#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

#player, #winner {
    width: 120px;
    height: 25px;
    background: #f0f0f0;
    border: 1px solid #e5e5e5;
    border-radius: 1px;
    text-align: center;
    padding: 15px 15px 0px 0px;
    
}

td button{
    width: 60px;
    height: 50px;
    background: #f9f9f9;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    font-size: 18px;
    font-weight: normal;
    outline: 0;
}